<header>
  <a class="logo" [routerLink]="['/']">Jennifer <span>Rasmussen</span></a>

  <div class="bx bx-menu" id="menu-icon" (click)="toggleMenu()"></div>

  <ul class="navbar" [ngClass]="{ active: isMenuOpen }">
    <!-- Ensure this section shows when user is NOT logged in -->
    <ng-container *ngIf="!isLoggedIn">
      <li>
        <a
          [ngClass]="{ active: activeLink === 'home' }"
          (click)="setActive('home')"
          >Hjem</a
        >
      </li>
      <li>
        <a
          [ngClass]="{ active: activeLink === 'about' }"
          (click)="setActive('about')"
          >Om mig</a
        >
      </li>
      <li>
        <a
          [ngClass]="{ active: activeLink === 'services' }"
          (click)="setActive('services')"
          >Ydelser</a
        >
      </li>
      <li>
        <a
          [ngClass]="{ active: activeLink === 'review' }"
          (click)="setActive('review')"
          >Anmeldelser</a
        >
      </li>
      <li>
        <a
          [ngClass]="{ active: activeLink === 'contact' }"
          (click)="setActive('contact')"
          >Kontakt</a
        >
      </li>
    </ng-container>

    <!-- Show login button if NOT logged in -->
    <li *ngIf="!isLoggedIn">
      <a (click)="loginWithGoogle()">Log ind</a>
    </li>

    <!-- Show logout button if logged in -->
    <li [routerLink]="['/dashboard']"   *ngIf="isLoggedIn">
      <a>Dashboard</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a (click)="logout()">Log ud</a>
    </li>
  </ul>
</header>
