<section class="review" id="review">
  <div class="review-box">
    <h2 class="heading">Kunde <span>Anmeldelser</span></h2>

    <div class="wrapper">
      <div class="review-item" *ngFor="let review of reviews">
        <img [src]="review.image" [alt]="review.name" class="review-image" />
        <h2>{{ review.name }}</h2>
        <div class="rating">
          <i id="star"
            class="bx bxs-star"
            *ngFor="let star of [].constructor(review.rating)"
          ></i>
        </div>
        <p>{{ review.reviewText }}</p>
      </div>
    </div>
  </div>
</section>
