.review {
  background: var(--bg-color);

  .review-box {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .heading {
      margin-bottom: 5rem;
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      row-gap: 2rem;

      .review-item {
        min-height: 350px;
        min-width: 350px;
        background: var(--snd-bg-color);
        border: 3px solid rgba(238, 238, 238, 0.3);
        margin: 0 2rem;
        padding: 40px 120px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        color: var(--text-color);
        transition: 0.5s ease-in-out;
        border-radius: 1rem;

        h2 {
          font-size: var(--m-text);
        }

        .rating {
          #star {
            color: gold;
            font-size: var(--xs-text);
          }
        }

        p {
          font-size: var(--s-text);
          line-height: 1.3;
          text-align: center;
        }

        &:hover {
          border: 3px solid var(--main-color);
          transform: translateY(-5px) scale(1.03);
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .review {
    .review-box {
      .wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 1100px) {
  .review {
    .review-box {
      .wrapper {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
