.services {
  display: flex;
  flex-direction: column;

  .explainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .services-img img {
      width: 35vw;
      border: 2px solid var(--text-color);
      border-radius: 1rem;
      transition: all 0.5s ease;
      filter: brightness(40%);
      transition: 2s all ease;

      &:hover {
        border: 2px solid var(--main-color);
        transform: scale(1.02);
        cursor: pointer;
      }
    }

    .services-content {
      padding: 0 3rem;

      h2 {
        text-align: left;
        line-height: 1.2;
      }

      p {
        font-size: var(--s-text);
        margin: 2rem 0 2rem;
      }
    }
  }
  .plans {
    background: var(--snd-bg-color);
    margin-top: 12rem;
    border-radius: 1rem;

    .plans-content {
      display: flex;
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 2.3rem;
      padding: 15px;

      .btn {
        flex: 1 1 auto;
        max-width: 50%;

        h3 {
          text-align: center;
        }
        h4 {
          color: var(--text-color);
          line-height: 1.7;
          padding-bottom: 0.8rem;
          font-size: var(--s-text);
        }
        ul li {
          list-style: disc;
          font-size: var(--s-text);
          padding-bottom: 0.8rem;
          font-weight: 600;
        }

        &:hover {
          border: 1px solid var(--main-color);
          transform: translateY(-5px) scale(1.01);
        }
        &.expanded {
          background: var(--card-expanded-bg);
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .services {
    .explainer {
      .services-content {
        .heading {
          font-size: var(--m-text);
        }

        p {
          font-size: var(--xs-text);
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .services {
    padding: 3rem;

    .explainer {
      flex-direction: column;

      .services-img img {
        width: 50vw;
      }

      .services-content {
        padding: 0;
      }
    }

    .plans {
      .plans-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .services {
    .explainer {
      .services-img img {
        width: 70vw;
      }
    }
  }
}