.about {
  background: var(--snd-bg-color);

  .about-cards {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;

    gap: 2.3rem;
    margin-top: 4.1rem;
    transition: all 0.5 ease;

    .card {
      background: var(--snd-bg-color);
      position: relative;
      border-radius: 27px;
      border: 1px solid transparent;
      box-shadow: 0 0 5px var(--main-color);
      padding: 20px;
      transition: all 0.5s ease;

      img {
        position: relative;
        height: auto;
        display: block;

        height: 650px;
        object-fit: cover;
        width: 100%;
        border-radius: 27px;
      }

      .card-text {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: var(--text-color);
        padding: 10px;
        font-size: var(--s-text);
        font-weight: 700;
        text-align: center;
        width: 100%;
        font-size: 15px;
      }

      &:hover {
        border: 1px solid var(--main-color);
        transform: translateY(-5px) scale(1.04);
        cursor: pointer;
      }
      &.active {
        border: 3px solid var(--text-color);
      }
    }
  }

  .about-information {
    display: flex;
    margin-top: 2.8rem;
    width: 50%;
    border-left: 1px solid var(--text-color);
    padding-left: 2%;

    .fade-text {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      font-size: var(--s-text);
    }

    .fade-in {
      animation: fadeIn 10s forwards;
    }

    // Fade-in animation
    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1400px) {
  .about {
    .about-cards {
      display: flex;
      gap: 1rem;
      justify-content: center;
      .card {
        width: 90%;
        img {
          height: 600px;
        }

        .card-text {
          padding: 2rem;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .about {
    .about-cards {
      flex-direction: column;
      width: 70%;
      margin: 4.1rem auto;
    }
  }
}

@media (max-width: 786px) {
  .about {
    flex-direction: column;

    .about-cards {
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;

      .card {
        img {
          height: 400px;
        }

        .card-text {
          font-size: var(--xs-text);
          padding: 1.4rem
        }
      }
    }
  }
}
