<section class="login">
  <div class="modal">
    <h2>
      Log ind for adgang til din personlige vægttabsrejse, booking og flere
      eksklusive ressourcer
    </h2>
    <p>
      Velkommen til din personlige portal! Som klient hos mig får du adgang til
      skræddersyet indhold, der støtter din rejse mod dine mål. Her kan du:
    </p>
    <ul>
      <li>Følge din vægttabsproces med opdaterede statistikker og mål.</li>
      <li>Booke træningssessioner eller konsultationer med få klik.</li>
      <li>
        Udforske ekstra ressourcer som kostplaner, træningstips og meget mere.
      </li>
    </ul>
    <!-- Only one container for the Google Sign-In button -->
    <div class="google-btn"></div>
  </div>
</section>
