.home {
  display: flex;
  justify-content: center;
  align-items: center;

  .home-content {
    h3 {
      font-weight: 700;
      font-size: var(--l-text);

      span {
        font-weight: 500;
      }
    }

    h1 {
      color: var(--main-color);
      font-weight: 700;
      line-height: 1.3;
      font-size: var(--xl-text);
      letter-spacing: 0.5rem;
    }

    p {
      font-size: var(--s-text);
      margin-top: 2rem;
      margin-bottom: 2rem;
    }



    .home-img {
      position: relative;

      img {
        filter: brightness(0.9);
        width: 100%;
        display: flex;
      }

      &::before {
        content: "FITNESS";
        position: absolute;
        top: 10%;
        left: 30%;
        transform: translateX(-50%);
        font-size: var(--3xl-text);
        font-weight: 400;
        line-height: 20rem;
        color: var(--text-color);
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 786px) {
  .home{
    flex-direction: column;

    .home-content{
      order: 2;
      
      .home-img img {
        width: 100%;
      }
    }
  }
}