#contact {
  background: var(--snd-bg-color);
  display: flex;
  flex-direction: column;

  .contact-explainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;

    .paragraph-container {
      border-left: 1px solid var(--main-color);
      padding-left: 1rem;
      margin-top: 4rem;

      h2 {
        font-size: var(--m-text);
      }

      p {
        text-align: left;
        font-size: var(--s-text);
        color: var(--text-color);

        margin-top: 1rem;

        &:first-child {
          margin-top: 0rem;
        }
      }
    }

    p {
      margin-top: 1rem;
      color: var(--main-color);
      font-size: var(--xs-text);
    }
  }
  .email-btn {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
}

@media (max-width: 900px) {
  #contact {
    .contact-explainer {
      width: 80%;
    }
  }
}
@media (max-width: 500px) {
  #contact {
    .contact-explainer {
      width: 90%;
    }
  }
}
