<section class="contact" id="contact">
  <h2 class="heading">Kontakt <span>Mig</span></h2>

  <div class="contact-explainer">
    <h2>Tag det første skridt mod dine mål</h2>
    <div class="paragraph-container">
      <p>
        Har du spørgsmål eller ønsker en uforpligtende dialog om dine behov og
        ambitioner? Klik på knappen nedenfor for at kontakte mig.
      </p>
      <p>
        Jeg tilbyder en gratis og uforpligtende samtale, hvor vi sammen kan
        udforske dine ønsker og mål. Samtalen giver dig mulighed for at høre
        mere om, hvordan jeg kan hjælpe dig med at opnå de resultater, du
        drømmer om – uanset om det handler om træning, ernæring eller personlig
        udvikling.
      </p>
      <p>
        Ingen forpligtelser – bare en ærlig samtale om, hvordan vi kan arbejde
        sammen om dine mål. Jeg glæder mig til at høre fra dig!
      </p>
    </div>
    <div class="email-btn">
      <a
        href="mailto:Fitnessbyjennifer25@gmail.com?subject=Kontakt&body=Hej Jennifer,%0D%0A%0D%0AJeg er interesseret i at høre mere om hvad du tilbyder. Kan vi aftale en tid til en uforpligtende samtale?%0D%0A%0D%0AMvh,%0D%0A[Dit Navn]"
        class="btn"
      >
        Send Email
      </a>
    </div>
    <p>Fitnessbyjennifer25&#64;gmail.com</p>
  </div>
</section>
