<footer>
  <div class="social">
    <a
      href="https://www.facebook.com/profile.php?id=100088332108953"
      target="_blank"
      ><i class="bx bxl-facebook"></i
    ></a>
    <a
      href="https://www.instagram.com/fitnessbyjennifer/"
      target="_blank"
      ><i class="bx bxl-instagram"></i
    ></a>
    <a href="https://www.linkedin.com/in/jennifer-rasmussen-43a3b5283/" target="_blank"
      ><i class="bx bxl-linkedin"></i
    ></a>
  </div>

  <p class="copyright">&copy; FitnessByJennifer 2025 - All Right Reserved</p>
</footer>
