/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: -apply-system, sans-serif;
}

:root {
  --bg-color: #000;
  --snd-bg-color: #111;
  --text-color: #fff;
  --main-color: #45ffca;

  --2xl-text: 180px;
  --xl-text: 60px;
  --l-text: 50px;
  --m-text: 36px;
  --s-text: 22px;
  --xs-text: 18px;
}

html,
body {
  overflow-x: hidden;
  background: var(--bg-color);
  color: var(--text-color);
  width: 100%;
}

section {
  min-height: 100vh;
  padding: 10rem 8% 2rem;
}

.heading {
  text-align: center;
  font-size: var(--xl-text);
  color: var(--text-color);

  span {
    color: var(--main-color);
  }
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 0.7rem;
  box-shadow: none;
  font-size: var(--m-text);
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s all ease;
  cursor: pointer;

  &:hover {
    color: var(--text-color);
    box-shadow: 0 0 1.6rem var(--main-color);
  }
}

@media (max-width: 1500px) {
  .btn{
    padding: 0.8rem 1rem;
    font-size: var(--s-text);
  }
}

@media (max-width: 1400px) {
  :root {
    --2xl-text: 140px;
    --xl-text: 50px;
    --l-text: 40px;
    --m-text: 28px;
    --s-text: 18px;
    --xs-text: 14px;
  }

}

@media (max-width: 1100px) {
  .btn{
    padding: 0.6rem 0.8rem;
    font-size: var(--s-text);
  }
}

@media (max-width: 991px) {
  :root {
    --2xl-text: 90px;
    --xl-text: 40px;
    --l-text: 30px;
    --m-text: 21px;
    --s-text: 14px;
  }
  section {
    padding: 10rem 3%;
  }
}

@media (max-width: 600px) {
  :root {
    --2xl-text: 60px;
    --xs-text: 10px;
  }
}

@media (max-width: 400px) {
  :root {
    --2xl-text: 40px;
    --xl-text: 28px;
    --l-text: 18px;
    --m-text: 12px;
    --s-text: 10px;
  }
  section {
    padding: 10rem 0 1rem;
  }
}
