/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: -apply-system, sans-serif;
}

:root {
  --bg-color: #000;
  --snd-bg-color: #111;
  --text-color: #fff;
  --main-color: #45ffca;

  --xl-text: 60px;
  --l-text: 50px;
  --m-text: 36px;
  --s-text: 24px;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 8% 2rem;
}

.heading {
  text-align: center;
  font-size: var(--xl-text);
  color: var(--text-color);

  span {
    color: var(--main-color);
  }
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 0.7rem;
  box-shadow: none;
  font-size: var(--m-text);
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s all ease;

  &:hover {
    color: var(--text-color);
    box-shadow: 0 0 1.6rem var(--main-color);
  }
}

@media (max-width: 1200px) {
  
}

@media (max-width: 991px) {
  
}